.details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
}

.details .big-img {
    max-width: 500px;
    min-width: 290px;
    height: 100%;
    overflow: hidden;
    margin: 25px;
}

.big-img img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    display: block;
    object-fit: cover;
}

.details .box {
    max-width: 500px;
    min-width: 290px;
    margin: 25px;
}

.box .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.thumb {
    width: 100%;
    height: 100px;
    display: flex;
    cursor: pointer;
    margin: 10px 0;
}

.thumb img {
    width: 90px;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 1px solid #ddd;
    margin-right: 5px;
    opacity: 0.7;
    border-radius: 5px;
}

.thumb img.active {
    opacity: 1;
    border: 1px solid lightseagreen;
}

.box .cart {
    background: #333;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    margin-top: 15px;
}

@media (max-width: 500px) {
    .thumb {
        height: 50px;
    }
    .thumb img {
        width: 50px;
    }
}