.address__container {
    background: white;
    .second {
        align-items: center;
        display: flex;
        gap: 10px;
        .deliBox {
            background-color: rgb(255, 255, 255);
            .deliInfo {
                display: flex;
                justify-content: space-between;
                width: 50pc;
                height: 3.8pc;
                margin: 15px;
                .continue {
                    color: white;
                    background-color: rgba(169, 65, 194, 1);
                    border: none;
                }
            }
            .newFlex {
                display: flex;
                align-items: center;
                gap: 20px;
                width: 40pc;
                margin: 15px;
                .circle {
                    margin-left: 20px;
                    width: 20px;
                    height: 20px;
                    border: 5px solid rgba(169, 65, 194, 1);
                    border-radius: 50%;
                }
                .textArea {
                    background-color: rgb(255, 255, 255);
                }
            }
        }
        .summary {
            background-color: rgb(255, 255, 255);
            width: 20pc;
            .summaryDesc {
                text-align: center;
                margin: 20px;
                .continue {
                    color: white;
                    background-color: rgba(169, 65, 194, 1);
                    border: none;
                }
            }
        }
        .header {
            display: flex;
            justify-content: space-between;
            .grocery {
                margin-right: 20px;
                margin-top: 25px;
            }
            .heading1 {
                margin-left: 20px;
                margin-top: 20px;
            }
        }
        button {
            background-color: white;
            color: rgba(169, 65, 194, 1);
            border-radius: 30px;
            width: 9pc;
            border: none;
        }
        height: 20pc;
        .contents {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 10px;
            img {
                margin-top: 10px;
                border-radius: 100%;
                width: 70px;
                border-style: solid;
                border-color: rgba(169, 65, 194, 1);
                height: 70px;
            }
            display: flex;
            gap: 20px;
            .deliButton {
                margin-left: 20px;
                display: flex;
                align-items: center;
                height: 100px;
            }
            .summary {
                background-color: white;
                width: auto;
                .summaryDesc {
                    text-align: center;
                    margin: 20px;
                }
            }
            .collectOption {
                margin-top: 10px;
            }
            .deliOption,
            .collectOption {
                background-color: white;
                margin-top: 10px;
                margin: 10px;
                width: auto;
                .deliOptionContents,
                .collectOptionContents {
                    display: flex;
                    gap: 15px;
                    margin: 15px;
                    margin-top: 10px;
                }
                .titleDesc {
                    margin-top: 15px;
                }
                .titleDescDis {
                    margin-top: 15px;
                    color: #dddddd;
                }
            }
        }
    }
}