.main-p-heading{
    font-size: 12px;
    color: #aa68bb;
}

.tot-products-head{
    margin: 40px 0px;
}

.tot-produts-contanier{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.headers, .product-info{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin: 20px 0px 40px;
    gap: 20px;
}

.headers:nth-child(*){
    font-size: 14px;
}

.product-info{
    font-size: 12px;
    margin: 5px 0px;
}
