.card-container{
    max-width: 1300px;
   margin: auto; 
   margin-top: 40px;
   height: 350px;
}
.card-container-3{
    max-width: 1300px;
   margin: auto; 
   margin-top: 40px;
 
}
.body-wrapper{
   max-width: 400px;
   margin: auto; 
   margin-top: 40px;
}

.myInput{
   position: relative;
   
}
.myInput input{
   padding-left: 33px;
}
.icon{
   position: absolute;
   left: 10px;
   top: 34px; 
   color: #7d7b7b;
   font-size: 18px;
 
}

.btn-update{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: auto;
   border: 0;
   outline: 0;
   background:#9a00c0 ;
   padding: 14px 78px; 
   color:white;
}

@media screen and (min-width: 400px) {
   .btn-update{
      padding: 14px 100px; 
   }
 
   .card-container{
      height: 370px;
  }
}
@media screen and (min-width: 450px) {
   .btn-update{
      padding: 14px 140px; 
   }
  
}
@media screen and (min-width: 600px) {
   .card-container{
      height: 450px;
  }
}
@media screen and (min-width: 600px) {
   .card-container-2{
      height: 470px;
  }
  
}

/*address details */
/*checkbox*/
.color-1{
   background: #f6f6f6;
}
.secInput-2{
   border: none ;
   outline: 0; 
   color: #707479;
   max-width: 200px;
   padding: 10px 8px;
   padding-left: 8px;
   padding-top: 9px;
   padding-bottom: 4px;
   border-radius: 5px;
   margin-left: 10px;
   margin: auto;
   
}
label{
   padding-left: 10px;
}
input[type=checkbox] {
   accent-color: #9a00c0;
 }


/*input*/
.card-container-3{
   height: 900px;
}
.body-wrapper-2{
   max-width: 800px;
   margin: auto; 
   margin-top: 40px;
}

.wrap-input{
   max-width: 200px;
   margin: auto;
}

@media screen and (min-width: 400px) {
   .wrap-input{
      max-width: 250px;
      margin: auto;
   }
   .secInput-2{
      max-width: 250px;
      margin: auto;
   }
}

@media screen and (min-width: 450px) {
   .wrap-input{
      max-width: 320px;
      margin: auto;
   }
   .secInput-2{
      max-width: 320px;
      margin: auto;
   }
}
@media screen and (min-width: 768px) {
   .body-wrapper-2{
      width: 800px;
      margin: auto; 
      margin-top: 40px;
   }
}

















