.sidebar {
    // min-height: 90%;
    // position: fixed;
    top: 4em;
    z-index: 1;
    left: 0;
    background: #ffffff;
    overflow-x: hidden;
    // padding-top: 8em;
    margin: 5em 2em;
    border-radius: 15px;
}

.waves-effect {
    border-radius: 5px;
}

.content {
    margin-left: 15em;
}

.card-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-details,
.securities {
    display: flex;
    justify-content: space-between;
}

.house-img img {
    height: 50vh;
}

.img-security,
.image-cover {
    width: 100%;
}

.img-security {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-security img,
.image-cover img {
    width: 100%;
    border-radius: 5px;
}

.security-img-container {
    width: 50%;
}

.security-img-container img {
    width: 100%;
}

.video-style {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.tour-card {
    cursor: pointer;
}

.tour-card:hover {
    background: rgba(165, 255, 250, 0.185) !important;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        top: 2em;
        margin: 1em 0;
        border-radius: 15px;
    }
}