.p-word-container{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: inherit;
    gap: 30px;
}

.password > p{
    margin: 10px 0px;
    font-weight: 500;
    font-size: 17px;
}

.pf-input{
    width: 100%;
    padding: 15px 5px;
    border-radius: 10px;
    background-color: #F6F6F6;
    border: none;
}

.update-pword{
    background-color: #aa68bb;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    padding: 7px 40px;
    text-align: center;
    border: none;
}

.update-pword-container{
    text-align: center;
    display: grid;
    place-content: center;
    margin: 15px 0px;
}