.payme
{
    background-color: rgb(255, 255, 0);
    border-radius: 10px;
    padding: 5px;
    padding-right: 1px;
}
.buttonColor{
    background-color: rgba(154, 0, 192, 1);
    width: 200px;
    color: white;
}
.colo
{
    color:white;
}

.container
{
    background-color: white;
}
.methods
{
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 30px;
img {
        height: 50px;
        width: 50px;
        margin: 10px;
    }
         .p {
             text-align: center;
             // margin-top: 10px;
         }
.cardd
{
    background-color: rgba(237, 237, 237, 1);
        border-style: solid;
        border-color: rgba(154, 0, 192, 1);
        border-radius: 20px;
        width: 250px;
       justify-content: center;
       text-align: center;
.masterCard
{
    width:80px;
}
.payStack
{
    width: 80px;
}
.zapper
{
    width: 80px;
}
    // background-color: aqua;
    
       
}
.paypal
{
background-color: rgba(237, 237, 237, 1);
    border-style: solid;
    border-color: rgba(154, 0, 192, 1);
    border-radius: 20px;
    width: 250px;

    justify-content: center;
        text-align: center;
.imgPay{
    width: 110px;
}
    // height:fit-content;
}
.googleWallet
{
    background-color: rgba(237, 237, 237, 1);
        border-style: solid;
        border-color: rgba(154, 0, 192, 1);
        border-radius: 20px;
        width: 250px;
        justify-content: center;
            text-align: center;
            .goo
            {
                width: 150px;
            }
}
}

.inputFlex
{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.checkB
{
    margin-top: 10px;
}
