.add__to__cart {
    border: 1px solid #9a00c0;
    padding: .5em 2em;
    border-radius: 2px;
    color: #9a00c0;
}

.add__to__cart:hover {
    background: #9a00c0;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 2px;
    transition: 0.6s all ease-in-out;
}