.radio-div legend {
  font-size: 16px;
}

.btn-color button {
  background: #9a00c0;
  outline: 0;
  border: 0;
}
.form-group label {
  font-size: 14px;
  color: #222222;
  font-weight: 400;
}
.form-group input {
  border: 0;
  background: #f6f6f6;
  border-radius: 4px;
}
.form-check input {
  background: #d9d9d9;
}
