

.con
{
    width: 140pc;
    
}

.three{
    justify-content: center;
    // align-items: center;
    display: flex;
    gap:10pc;
    margin-right: 30pc;
}
.first
{
    gap: 1em;
}
.inputs
{
    display: grid;
    gap: 3em;
}
.but {
     justify-content: center;
     align-items: center;
 }
.personIcon
{
    display: flex;
    align-items: center ;
    justify-content: center;
    vertical-align: middle;
}

 input[type=radio] {
     accent-color: rgba(154, 0, 192, 1);
 }

